body{
    background-color: rgb(183, 183, 233);
    width: 900px;
    margin: auto;

}
#title, .subtitle, .post_title {
     color: rgb(0, 48, 180);
     font-tra
}

 .post_title{
     font-size: 16px;
     font-style: italic;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .post {

    background: white;
    padding: 10px;
    border: 3px solid rgb(8, 153, 117);  
    margin-bottom: 10px;  
    border-radius: 5px 10px;
}

.post_content{
margin: 0;
margin-bottom: 15px;
}
 .postimage{
    margin-bottom: 15px;
    width: 100%;

 }

 .topodotopo{
     padding: 10px;
     border: rgb(49, 194, 126) solid 5px;
 }

 .lista{
     list-style: square;
     padding-left: 15px;
 }